.main
    display: flex
    justify-content: space-between
    &__slider
        width: calc((100% + 60px) * 2 /3)
        height: 650px
        max-height: calc(100vh - 69px)
        img
            height: 650px
            width: 100%
            object-fit: cover
    &__cont
        width: calc((100% + 60px) * 1 /3 )
        display: flex
        flex-direction: column
        justify-content: flex-end
    &__info
        padding: 48px 60px
        padding-left: 79px
    &__title
        font-family: 'DINNeuzeitGrotesk LT BoldCond'
        font-style: normal
        font-weight: 700
        font-size: 54px
        line-height: 60px
        text-transform: uppercase
        color: #000000
        margin-top: 0
        margin-bottom: 29px
        animation-delay: 300ms
    &__descr
        margin: 0
        font-weight: 300
        font-size: 14px
        line-height: 22px
        max-width: 320px
        margin-bottom: 27px
        animation-delay: 500ms
    &__btn
        width: 208px
        height: 48px
        display: flex
        align-items: center
        justify-content: center
        background: #E84A43
        font-weight: 400
        font-size: 14px
        line-height: 22px
        color: #FFFFFF
        text-decoration: none
        animation-delay: 700ms
        &:hover
            background: #C1EAEC
            color: #000
    &__prev
        height: 100px
        width: 100%
        animation-delay: 1500ms
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__tabs
        display: flex
        grid-gap: 10px
        background: #C1EAEC
        height: 54px
        align-items: flex-end
        justify-content: space-between
        width: 100%
        animation-delay: 1200ms
        a
            font-weight: 400
            font-size: 12px
            line-height: 22px
            text-transform: uppercase
            color: #000000
            text-decoration: none
            padding: 16px 16px
            &.active, &:hover
                padding-bottom: 25px
                background: #E84A43
                color: #fff
.gal
    padding-top: 40px
    padding-bottom: 50px
    &__tabs
        display: flex
        grid-gap: 30px
        background: #C1EAEC
        margin-bottom: 20px
        height: 46px
        align-items: flex-end
        justify-content: space-between
        width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
        a
            font-weight: 400
            font-size: 12px
            line-height: 22px
            text-transform: uppercase
            color: #000000
            text-decoration: none
            padding: 12px 19px
            &.active, &:hover
                padding: 19px
                background: #E84A43
                color: #fff
        &-wrap
            display: flex
    &__cont
        &-block
            height: 0
            overflow: hidden
            &.active
                height: auto
    &__wrap
        display: flex
        justify-content: space-between
        .swiper
            width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
            margin: 0
            img
                width: 100%
                height: 572px
                object-fit: cover
    &__right
        width: calc((100% + 60px) * 1 /3 - 30px)
    &__prev
        height: 260px
        width: 100%
        margin-bottom: 44px
        img
            width: 100%
            height: 100%
            object-fit: cover
    &__name
        font-weight: 400
        font-size: 16px
        line-height: 22px
        text-transform: uppercase
        margin-bottom: 10px
    &__descr
        font-weight: 300
        font-size: 14px
        line-height: 22px
        margin: 0
        margin-bottom: 58px
    &__arrows
        display: flex
        grid-gap: 7px
.home
    &-portf
        padding-top: 50px
        padding-bottom: 40px
        &__title
            margin: 0
            margin-bottom: 56px
            font-family: 'DINNeuzeitGrotesk LT BoldCond'
            font-weight: 700
            font-size: 54px
            line-height: 60px
            text-transform: uppercase
            color: #000000
        &__left
            width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
            display: flex
            justify-content: space-between
        &__wrap
            display: flex
            justify-content: space-between
            grid-gap: 0
            .swiper
                display: none
        &__middle
            width: 464px
            height: 653px
            img
                width: 100%
                height: 100%
                object-fit: cover
        &__last
            display: flex
            flex-direction: column
            justify-content: space-between
            width: calc((100% + 60px) * 1 /3 - 30px)
        &__bot
            font-weight: 400
            font-size: 12px
            line-height: 22px
            text-align: right
            text-transform: uppercase
            color: #3EA4A6
            margin: 0
            max-width: 311px
            margin-left: auto
        &__text
            &>b
                margin-bottom: 12px
                display: block
                font-weight: 600
                font-size: 16px
                line-height: 22px
                text-transform: uppercase
            p
                max-width: 362px
                font-weight: 300
                font-size: 14px
                line-height: 22px
                color: #000000
                margin-top: 0
                margin-bottom: 22px
        &__main
            width: 434px
            display: flex
            justify-content: space-between
            flex-direction: column
        &__small
            height: 334px
            img
                width: 100%
                height: 100%
                object-fit: cover
        &__prev
            height: 319px
            width: 100%
            img
                width: 100%
                height: 100%
                object-fit: cover
    &-ab
        padding-top: 100px
        padding-bottom: 50px
        &__top
            display: flex
            justify-content: space-between
            margin-bottom: 70px
        &__right
            width: calc((100% + 60px) * 2 /3 - 30px)
            display: flex
            justify-content: space-between
            .home-ab__img
                display: none
        &__col
            width: calc(50% - 15px)
        &__name
            font-weight: 600
            font-size: 16px
            line-height: 22px
            text-transform: uppercase
            margin-bottom: 12px
        &__text
            margin-top: 0
            font-weight: 300
            font-size: 14px
            line-height: 22px
            color: #000000
            margin-bottom: 6px
            max-width: 328px
        &__titles
            width: calc((100% + 60px) * 1 /3 - 30px)
            display: flex
            flex-direction: column
            justify-content: space-between
        &__title
            margin: 0
            font-family: 'DINNeuzeitGrotesk LT BoldCond'
            font-weight: 700
            font-size: 54px
            line-height: 60px
            text-transform: uppercase
            color: #000000
        &__descr
            font-size: 12px
            line-height: 18px
            text-transform: uppercase
            color: #3EA4A6
            max-width: 282px
        &__wrap
            display: flex
            justify-content: space-between
        &__img
            width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
            height: 617px
            img
                height: 617px
                width: 100%
                object-fit: cover
        &__last
            width: calc((100% + 60px) * 1 /3 - 30px)
            display: flex
            flex-direction: column
            justify-content: space-between
        &__prev
            width: 100%
            height: 436px
            img
                height: 436px
                width: 100%
                object-fit: cover
        &__bot
            &> b
                margin-bottom: 12px
                display: block
                font-weight: 600
                font-size: 16px
                line-height: 22px
                max-width: 311px
                margin-right: 0
                margin-left: auto
                text-align: right
                text-transform: uppercase
            p
                max-width: 328px
                margin: 0
                margin-left: auto
                font-weight: 300
                font-size: 14px
                line-height: 22px
                text-align: right
    &-rev
        padding: 50px 0
        &__title
            margin: 0
            margin-bottom: 21px
            font-family: 'DINNeuzeitGrotesk LT BoldCond'
            font-style: normal
            font-weight: 700
            font-size: 54px
            line-height: 60px
            text-transform: uppercase
        &__wrap
            display: flex
            justify-content: space-between
            .swiper
                width: calc((100% + 60px) * 2 /3 - 30px)
        &__cont
            width: calc((100% + 60px) * 1 / 3 - 30px)
            padding-right: 16px
            display: flex
            justify-content: space-between
            flex-direction: column
            .swiper
                display: none
        &__arrows
            width: 100%
            display: flex
            justify-content: flex-end
            grid-gap: 7px
        &__text
            font-weight: 300
            font-size: 14px
            line-height: 22px
            &>b
                font-weight: 600
                font-size: 16px
                line-height: 22px
                text-transform: uppercase
                margin-bottom: 12px
                display: block
            p
                max-width: 288px
                margin: 0
                margin-bottom: 22px
            &>a
                width: 243px
                height: 48px
                display: flex
                justify-content: center
                align-items: center
                background: #E84A43
                grid-gap: 10px
                font-weight: 400
                font-size: 14px
                line-height: 22px
                color: #FFFFFF
                text-decoration: none
                margin-top: 50px
                svg
                    width: 14px
                    height: 14px
                path
                    transition: all 0.3s
                &:hover
                    background: #C1EAEC
                    color: #000
                    path
                        fill: #000
        &__big
            background: #C1EAEC
            padding: 36px 37px
            padding-bottom: 28px
        &__top
            display: flex
            align-items: center
            margin-bottom: 37px
        &__rev
            height: calc(100% - 167px)
            display: flex
            flex-direction: column
            justify-content: space-between
            p
                font-weight: 300
                font-size: 14px
                line-height: 22px
                max-width: 353px
                margin: 0
            a
                font-weight: 400
                font-size: 12px
                line-height: 22px
                text-transform: uppercase
                color: #3EA4A6
                display: flex
                align-items: center
                text-decoration: none
                grid-gap: 10px
                svg
                    width: 6px
                    height: 10px
                path
                    transition: all 0.3s
                &:hover
                    grid-gap: 20px
                    color: #E84A43
                    path
                        fill: #E84A43
        &__small
            background: #C1EAEC
            padding: 28px 24px
            padding-bottom: 17px
            display: flex
            &:first-child
                margin-bottom: 17px
            .home-rev__rev
                height: auto
                width: calc(100% - 168px)
                p
                    max-width: 233px
        &__img
            width: 130px
            height: 130px
            overflow: hidden
            border-radius: 50%
            margin-right: 27px
            img
                width: 100%
                height: 100%
                object-fit: cover
                transition: all 0.5s
            &:hover
                img
                    transform: scale(1.2)
            &_small
                width: 124px
                height: 124px
                display: flex
                margin-bottom: 21px
                overflow: hidden
                border-radius: 50%
                margin-right: 44px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
                    transition: all 0.5s
                &:hover
                    img
                        transform: scale(1.2)
        &__info
            width: calc(100% - 157px)
            font-weight: 300
            font-size: 14px
            line-height: 22px
            a
                display: flex
                margin-bottom: 12px
                grid-gap: 9px
                font-weight: 600
                font-size: 16px
                line-height: 22px
                text-decoration: none
                color: #000
                img
                    width: 22px
                    height: 22px
                &:hover
                    color: #E84A43
            &_small
                width: 100%
                font-weight: 300
                font-size: 14px
                line-height: 22px
                a
                    display: flex
                    margin-bottom: 12px
                    grid-gap: 9px
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-decoration: none
                    color: #000
                    img
                        width: 22px
                        height: 22px
                    &:hover
                        color: #E84A43
    &-cat
        padding: 50px 0
        &__title
            margin: 0
            margin-bottom: 21px
            font-family: 'DINNeuzeitGrotesk LT BoldCond'
            font-style: normal
            font-weight: 700
            font-size: 54px
            line-height: 60px
            text-transform: uppercase
        &__descr
            margin-bottom: 54px
            margin-top: 0
            font-weight: 300
            font-size: 14px
            line-height: 22px
            max-width: 630px
        &__block
            color: #000000
            text-decoration: none
        &__img
            width: 100%
            height: 350px
            margin-bottom: 30px
            display: block
            overflow: hidden
            img
                width: 100%
                height: 100%
                object-fit: cover
                transition: all 1s
        &__name
            display: block
            margin-bottom: 10px
            font-weight: 400
            font-size: 16px
            line-height: 22px
            text-transform: uppercase
        &__text
            font-weight: 300
            font-size: 14px
            line-height: 22px
            height: 44px
            overflow: hidden
            margin-bottom: 32px
            max-width: 265px
            display: block
        &__bot
            display: flex
            justify-content: space-between
        &__price
            width: 217px
            height: 48px
            border: 1px solid #C1EAEC
            display: flex
            justify-content: center
            align-items: center
            font-size: 16px
            line-height: 22px
            text-transform: uppercase
            color: #3EA4A6
        &__btn
            background: #E84A43
            width: 217px
            height: 48px
            display: flex
            justify-content: center
            align-items: center
            font-weight: 400
            font-size: 14px
            line-height: 22px
            transition: all 0.3s
            color: #FFFFFF
            &:hover
                background: #C1EAEC
                color: #000
        &__block:hover
            .home-cat
                &__img
                    img
                        transform: scale(1.2)
        &__arrows
            display: flex
            justify-content: flex-end
            grid-gap: 7px
            padding-top: 45px
    &-about
        padding-bottom: 175px
        padding-top: 50px
        &__title
            font-family: 'DINNeuzeitGrotesk LT BoldCond'
            font-style: normal
            font-weight: 700
            font-size: 54px
            line-height: 60px
            text-transform: uppercase
            margin: 0
            margin-bottom: 56px
            color: #000000
        &__text
            width: calc((100% + 60px) * 1 / 3 - 30px)
            padding-right: 87px
            p
                margin-top: 0
                font-weight: 300
                font-size: 14px
                line-height: 22px
                margin-bottom: 22px
                color: #000000
            &>b
                max-width: 320px
                display: block
                font-weight: 600
                font-size: 16px
                line-height: 22px
                text-transform: uppercase
                margin-bottom: 12px
                color: #000000
        &__main
            display: flex
            justify-content: space-between
            margin-bottom: 65px
        &__wrap
            display: flex
            justify-content: space-between
            margin-bottom: 75px
            .home-about__gal-photo
                display: none
        &__img
            width: calc((100% + 60px) * 2 /3 - 30px)
            height: 400px
            img
                width: 100%
                height: 100%
                object-fit: cover
        &__col
            width: calc((100% + 60px) * 1 / 3 - 30px)
            padding-right: 118px
            font-weight: 300
            font-size: 14px
            line-height: 22px
            &:nth-child(2)
                width: calc((100% + 60px) * 1 / 3 )
            span
                font-weight: 400
                font-size: 12px
                line-height: 22px
                text-transform: uppercase
                color: #3EA4A6
                display: block
                max-width: 311px
            p
                margin-top: 0
                margin-bottom: 22px
            b
                display: block
                max-width: 299px
                font-weight: 600
                font-size: 16px
                line-height: 22px
                text-transform: uppercase
                margin-bottom: 12px
                min-height: 66px
            ul
                margin: 0
                padding: 0
                list-style-type: none
                li
                    padding-left: 25px
                    margin-bottom: 22px
                    position: relative
                    &::before
                        content: ""
                        background: #C1EAEC
                        display: block
                        width: 6px
                        height: 6px
                        border-radius: 50%
                        position: absolute
                        left: 0
                        top: 8px
        &__gal
            display: flex
            justify-content: space-between
            &-right
                width: calc((100% + 60px) * 1 / 3 - 30px)
                display: flex
                flex-direction: column
                align-items: flex-end
                justify-content: space-between
            &-photo
                width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
                height: 617px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &-prev
                width: 100%
                height: 436px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &-text
                max-width: 311px
                font-weight: 400
                font-size: 12px
                line-height: 22px
                text-align: right
                text-transform: uppercase
                color: #3EA4A6
                margin: 0
@media(max-width: 991px)
    .main
        display: block
        &__slider
            width: 100%
            height: 650px
            max-height: 1000vh
            img
                height: 650px
        &__cont
            width: 100%
        &__info
            padding: 48px 60px
            padding-left: 79px
        &__title
            font-size: 54px
            line-height: 60px
            margin-bottom: 29px
            max-width: 350px
        &__descr
            font-size: 14px
            line-height: 22px
            max-width: 320px
            margin-bottom: 27px
        &__btn
            width: 208px
            height: 48px
            font-size: 14px
            line-height: 22px
        &__prev
            height: 100px
        &__tabs
            grid-gap: 10px
            height: 54px
            a
                font-size: 12px
                line-height: 22px
                padding: 16px 16px
                &.active, &:hover
                    padding-bottom: 25px
    .gal
        padding-top: 40px
        padding-bottom: 50px
        &__tabs
            grid-gap: 0px
            margin-bottom: 20px
            height: 46px
            width: 914px
            a
                font-size: 12px
                line-height: 22px
                padding: 12px 19px
                &.active, &:hover
                    padding: 19px
        &__cont
            &-block
                height: 0
        &__wrap
            .swiper
                width: calc((100% + 60px) * 2 /3 - 35px)
                margin: 0
                img
                    height: 472px
        &__right
            width: calc((100% + 60px) * 1 /3 - 35px)
        &__prev
            height: 200px
            margin-bottom: 44px
        &__name
            font-size: 16px
            line-height: 22px
            margin-bottom: 10px
        &__descr
            font-size: 14px
            line-height: 22px
            margin: 0
            margin-bottom: 58px
        &__arrows
            grid-gap: 7px
    .home
        &-portf
            padding-top: 50px
            padding-bottom: 40px
            &__title
                margin: 0
                margin-bottom: 56px
                font-family: 'DINNeuzeitGrotesk LT BoldCond'
                font-weight: 700
                font-size: 54px
                line-height: 60px
                text-transform: uppercase
                color: #000000
            &__left
                width: 100%
            &__wrap
                display: flex
                justify-content: space-between
                flex-wrap: wrap
                grid-gap: 16px
            &__middle
                width: calc(50% - 8px)
                height: 653px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &__last
                display: flex
                flex-direction: column
                justify-content: space-between
                width: calc(50% - 8px)
            &__bot
                font-weight: 400
                font-size: 12px
                line-height: 22px
                text-align: right
                text-transform: uppercase
                color: #3EA4A6
                margin: 0
                max-width: 311px
                margin-left: auto
                padding-top: 30px
            &__text
                &>b
                    margin-bottom: 12px
                    display: block
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-transform: uppercase
                p
                    max-width: 362px
                    font-weight: 300
                    font-size: 14px
                    line-height: 22px
                    color: #000000
                    margin-top: 0
                    margin-bottom: 22px
            &__main
                width: calc(50% - 8px)
                display: flex
                justify-content: space-between
                flex-direction: column
            &__small
                height: 334px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &__prev
                height: 319px
                width: 100%
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
        &-ab
            padding-top: 100px
            padding-bottom: 50px
            &__top
                margin-bottom: 70px
                display: block
            &__right
                width: 100%
            &__name
                font-size: 16px
                line-height: 22px
                margin-bottom: 12px
            &__text
                font-size: 14px
                line-height: 22px
                margin-bottom: 6px
                max-width: 328px
            &__titles
                width: calc((100% + 60px) * 2 /3 - 30px)
                margin-bottom: 40px
            &__title
                margin: 0
                font-size: 54px
                line-height: 60px
                margin-bottom: 30px
            &__descr
                font-size: 12px
                line-height: 18px
                max-width: 282px
            &__img
                width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
                height: 417px
                img
                    height: 417px
            &__last
                width: calc((100% + 60px) * 1 /3 - 30px)
            &__prev
                height: 206px
                img
                    height: 206px
            &__bot
                &> b
                    margin-bottom: 12px
                    font-size: 16px
                    line-height: 22px
                    max-width: 311px
                    margin-right: 0
                p
                    max-width: 328px
                    margin: 0
                    margin-left: auto
                    font-size: 14px
                    line-height: 22px
        &-rev
            padding: 50px 0
            &__title
                margin: 0
                margin-bottom: 21px
                font-size: 54px
                line-height: 60px
            &__wrap
                display: block
                .swiper
                    display: none
            &__cont
                grid-gap: 35px
                width: 100%
                padding-right: 16px
                .swiper
                    display: block
                    width: 100%
            &__arrows
                grid-gap: 7px
            &__text
                font-size: 14px
                line-height: 22px
                &>b
                    font-size: 16px
                    line-height: 22px
                    margin-bottom: 12px
                p
                    max-width: 288px
                    margin: 0
                    margin-bottom: 22px
                &>a
                    width: 243px
                    height: 48px
                    grid-gap: 10px
                    font-size: 14px
                    line-height: 22px
                    margin-top: 50px
                    svg
                        width: 14px
                        height: 14px
            &__big
                padding: 36px 37px
                padding-bottom: 28px
            &__top
                margin-bottom: 37px
            &__rev
                height: calc(100% - 167px)
                p
                    font-size: 14px
                    line-height: 22px
                    max-width: 353px
                a
                    font-size: 12px
                    line-height: 22px
                    grid-gap: 10px
                    margin-top: 20px
                    svg
                        width: 6px
                        height: 10px
                    &:hover
                        grid-gap: 20px
            &__small
                padding: 28px 24px
                padding-bottom: 17px
                &:first-child
                    margin-bottom: 17px
                .home-rev__rev
                    width: calc(100% - 168px)
                    p
                        max-width: 233px
            &__img
                width: 130px
                height: 130px
                margin-right: 27px
                &_small
                    width: 124px
                    height: 124px
                    margin-bottom: 21px
                    margin-right: 44px
            &__info
                width: calc(100% - 157px)
                font-size: 14px
                line-height: 22px
                a
                    margin-bottom: 12px
                    grid-gap: 9px
                    font-size: 16px
                    line-height: 22px
                    img
                        width: 22px
                        height: 22px
                &_small
                    font-size: 14px
                    line-height: 22px
                    a
                        margin-bottom: 12px
                        grid-gap: 9px
                        font-size: 16px
                        line-height: 22px
                        img
                            width: 22px
                            height: 22px
        &-cat
            padding: 50px 0
            &__title
                margin: 0
                margin-bottom: 21px
                font-size: 54px
                line-height: 60px
            &__descr
                margin-bottom: 54px
                margin-top: 0
                font-size: 14px
                line-height: 22px
                max-width: 630px
            &__img
                height: 300px
                margin-bottom: 30px
            &__name
                margin-bottom: 10px
                font-size: 16px
                line-height: 22px
            &__text
                font-size: 14px
                line-height: 22px
                height: 44px
                margin-bottom: 32px
                max-width: 265px
            &__price
                width: 167px
                height: 48px
                border: 1px solid #C1EAEC
                font-size: 16px
                line-height: 22px
            &__btn
                width: 167px
                height: 48px
                font-size: 14px
                line-height: 22px
            &__arrows
                grid-gap: 7px
                padding-top: 45px
        &-about
            padding-bottom: 75px
            padding-top: 50px
            &__title
                font-size: 54px
                line-height: 60px
                margin-bottom: 36px
            &__text
                width: 100%
                padding-right: 0px
                p
                    margin-top: 0
                    font-weight: 300
                    font-size: 14px
                    line-height: 22px
                    margin-bottom: 22px
                    color: #000000
                &>b
                    max-width: 320px
                    display: block
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-transform: uppercase
                    margin-bottom: 12px
                    color: #000000
            &__main
                display: block
                margin-bottom: 65px
            &__wrap
                display: flex
                justify-content: space-between
                margin-bottom: 35px
            &__img
                width: calc((100% + 60px) )
                margin-left: -30px
                height: 320px
                img
                    width: 100%
                    height: 100%
                    object-fit: cover
            &__col
                width: 50%
                padding-right: 28px
                font-weight: 300
                font-size: 14px
                line-height: 22px
                &:nth-child(1)
                    display: none
                &:nth-child(2)
                    width: 50%
                span
                    font-weight: 400
                    font-size: 12px
                    line-height: 22px
                    text-transform: uppercase
                    color: #3EA4A6
                    display: block
                    max-width: 311px
                p
                    margin-top: 0
                    margin-bottom: 22px
                b
                    display: block
                    max-width: 299px
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-transform: uppercase
                    margin-bottom: 12px
                    min-height: 66px
                ul
                    margin: 0
                    padding: 0
                    list-style-type: none
                    li
                        padding-left: 25px
                        margin-bottom: 22px
                        position: relative
                        &::before
                            content: ""
                            background: #C1EAEC
                            display: block
                            width: 6px
                            height: 6px
                            border-radius: 50%
                            position: absolute
                            left: 0
                            top: 8px
            &__gal
                display: flex
                justify-content: space-between
                &-right
                    width: calc((100% + 60px) * 1 / 3 - 30px)
                    display: flex
                    flex-direction: column
                    align-items: flex-end
                    justify-content: space-between
                &-photo
                    width: calc(100% - ((100% + 60px) * 1 / 3 - 30px) - 15px)
                    height: 417px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                &-prev
                    width: 100%
                    height: 206px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                &-text
                    max-width: 311px
                    font-weight: 400
                    font-size: 10px
                    line-height: 22px
                    text-align: right
                    text-transform: uppercase
                    color: #3EA4A6
                    margin: 0
@media(max-width: 767px)
    .main
        display: block
        &__slider
            width: 100%
            height: 280px
            img
                height: 280px
        &__cont
            width: 100%
        &__info
            padding: 47px 20px
        &__title
            font-size: 42px
            line-height: 48px
            margin-bottom: 19px
            max-width: 270px
        &__descr
            font-size: 14px
            line-height: 22px
            max-width: 279px
            margin-bottom: 23px
        &__btn
            width: 208px
            height: 48px
            font-size: 14px
            line-height: 22px
        &__prev
            height: 100px
            display: none
        &__tabs
            grid-gap: 0px
            height: 54px
            a
                font-size: 12px
                line-height: 22px
                padding: 17px 12px
                &.active, &:hover
                    padding-bottom: 24px
    .gal
        padding-top: 0px
        padding-bottom: 27px
        &__tabs
            grid-gap: 8px 7px
            margin-bottom: 20px
            height: auto
            width: 914px
            flex-wrap: wrap
            background-color: transparent
            display: grid
            grid-template-columns: repeat(3, 1fr)
            a
                font-size: 12px
                line-height: 22px
                padding: 8px 10px
                background: #C1EAEC
                text-align: center
                &.active, &:hover
                    padding: 8px 10px
        &__cont
            &-block
                height: 0
                margin-left: -20px
                width: calc(100% + 40px)
        &__wrap
            position: relative
            .swiper
                width: calc((100%))
                height: 283px
                position: absolute
                bottom: 58px
                left: 0px
                margin: 0
                img
                    height: 283px
        &__right
            width: 100%
            padding: 0 20px
        &__prev
            display: none
        &__name
            font-size: 16px
            line-height: 22px
            margin-bottom: 10px
        &__descr
            font-size: 14px
            line-height: 22px
            margin: 0
            margin-bottom: 340px
        &__arrows
            grid-gap: 7px
            justify-content: flex-end
    .home
        &-portf
            padding-top: 24px
            padding-bottom: 27px
            &__title
                margin: 0
                margin-bottom: 25px
                font-family: 'DINNeuzeitGrotesk LT BoldCond'
                font-weight: 700
                font-size: 42px
                line-height: 60px
                text-transform: uppercase
                color: #000000
            &__wrap
                display: block
                grid-gap: 16px
                .swiper
                    display: block
                    margin-left: -20px
                    width: calc(100% + 40px)
                    img
                        width: 100%
                        height: 290px
                        object-fit: cover
            &__middle
                display: none
            &__last
                display: flex
                flex-direction: column
                justify-content: space-between
                width: 100%
            &__bot
                font-weight: 400
                font-size: 12px
                line-height: 22px
                text-align: right
                text-transform: uppercase
                color: #3EA4A6
                margin: 0
                max-width: 311px
                margin-left: auto
                padding-top: 35px
            &__text
                &>b
                    margin-bottom: 12px
                    display: block
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-transform: uppercase
                p
                    max-width: 362px
                    font-weight: 300
                    font-size: 14px
                    line-height: 22px
                    color: #000000
                    margin-top: 0
                    margin-bottom: 22px
            &__main
                width: 100%
                display: flex
                justify-content: space-between
                flex-direction: column
            &__small
                display: none
            &__prev
                display: none
        &-ab
            padding-top: 47px
            padding-bottom: 24px
            &__wrap
                .home-ab__img
                    display: none
            &__top
                margin-bottom: 35px
                display: block
            &__right
                width: 100%
                display: block
                .home-ab__img
                    display: block
            &__col
                width: 100%
            &__name
                font-size: 16px
                line-height: 22px
                margin-bottom: 12px
            &__text
                font-size: 14px
                line-height: 22px
                margin-bottom: 6px
                max-width: 328px
            &__titles
                width: 100%
                margin-bottom: 25px
            &__title
                margin: 0
                font-size: 42px
                line-height: 48px
                margin-bottom: 12px
            &__descr
                font-size: 12px
                line-height: 18px
                max-width: 282px
            &__img
                width: calc(100% + 40px)
                height: 260px
                margin-top: 27px
                margin-bottom: 36px
                margin-left: -20px
                img
                    height: 260px
            &__last
                width: 100%
            &__prev
                height: 360px
                width: calc(100% + 40px)
                margin-left: -20px
                img
                    height: 360px
            &__bot
                padding-top: 38px
                &> b
                    margin-bottom: 12px
                    font-size: 16px
                    line-height: 22px
                    max-width: 100%
                    margin-right: 0
                    text-align: left
                p
                    max-width: 100%
                    margin: 0
                    margin-left: auto
                    font-size: 14px
                    line-height: 22px
                    text-align: left
        &-rev
            padding-top: 27px
            padding-bottom: 28px
            &__title
                margin: 0
                margin-bottom: 25px
                font-size: 42px
                line-height: 60px
            &__cont
                grid-gap: 26px
                width: 100%
                padding-right: 0px
                .swiper
                    display: block
                    width: 100%
                    margin-top: 9px
            &__arrows
                grid-gap: 8px
            &__text
                font-size: 14px
                line-height: 22px
                &>b
                    font-size: 16px
                    line-height: 22px
                    margin-bottom: 12px
                p
                    max-width: 288px
                    margin: 0
                    margin-bottom: 22px
                &>a
                    width: 243px
                    height: 48px
                    grid-gap: 10px
                    font-size: 14px
                    line-height: 22px
                    margin-top: 28px
                    svg
                        width: 14px
                        height: 14px
            &__big
                padding: 22px 23px
                padding-bottom: 17px
            &__top
                margin-bottom: 23px
            &__rev
                height: auto
                p
                    font-size: 14px
                    line-height: 22px
                    max-width: 289px
                a
                    font-size: 12px
                    line-height: 22px
                    grid-gap: 10px
                    margin-top: 40px
                    svg
                        width: 6px
                        height: 10px
                    &:hover
                        grid-gap: 20px
            &__small
                padding: 28px 24px
                padding-bottom: 17px
                &:first-child
                    margin-bottom: 17px
                .home-rev__rev
                    width: calc(100% - 168px)
                    p
                        max-width: 233px
            &__img
                width: 90px
                height: 90px
                margin-right: 54px
                &_small
                    width: 124px
                    height: 124px
                    margin-bottom: 21px
                    margin-right: 44px
            &__info
                width: calc(100% - 144px)
                font-size: 14px
                line-height: 22px
                a
                    margin-bottom: 12px
                    grid-gap: 9px
                    font-size: 16px
                    line-height: 22px
                    img
                        width: 22px
                        height: 22px
                &_small
                    font-size: 14px
                    line-height: 22px
                    a
                        margin-bottom: 12px
                        grid-gap: 9px
                        font-size: 16px
                        line-height: 22px
                        img
                            width: 22px
                            height: 22px
        &-cat
            padding: 27px 0
            &__block
                box-shadow: none !important
                background-color: #fff
            &__title
                margin: 0
                margin-bottom: 23px
                font-size: 42px
                line-height: 60px
            &__descr
                margin-bottom: 35px
                margin-top: 0
                font-size: 14px
                line-height: 22px
                max-width: 100%
            &__img
                height: 260px
                margin-bottom: 32px
            &__name
                margin-bottom: 10px
                font-size: 16px
                line-height: 22px
            &__text
                font-size: 14px
                line-height: 22px
                height: 44px
                margin-bottom: 16px
                max-width: 265px
            &__price
                width: 164px
                height: 44px
                border: 1px solid #C1EAEC
                font-size: 16px
                line-height: 22px
            &__btn
                width: 164px
                height: 44px
                font-size: 14px
                line-height: 22px
            &__arrows
                grid-gap: 8px
                padding-top: 26px
        &-about
            padding-top: 28px
            padding-bottom: 66px
            &__title
                font-size: 42px
                line-height: 60px
                margin-bottom: 25px
            &__text
                width: 100%
                padding-right: 0px
                p
                    margin-top: 0
                    font-weight: 300
                    font-size: 14px
                    line-height: 22px
                    margin-bottom: 22px
                    color: #000000
                &>b
                    max-width: 302px
                    display: block
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-transform: uppercase
                    margin-bottom: 12px
                    color: #000000
            &__main
                display: block
                margin-bottom: 35px
            &__wrap
                display: block
                margin-bottom: 35px
                .home-about__gal-photo
                    display: block
                    width: calc((100% + 40px) )
                    margin-left: -20px
                    height: 260px
                    margin-top: 35px
                    margin-bottom: 35px
            &__img
                width: calc((100% + 40px) )
                margin-left: -20px
                height: 260px
                margin-top: 36px
            &__col
                width: 100%
                padding-right: 28px
                font-weight: 300
                font-size: 14px
                line-height: 22px
                &:nth-child(1)
                    display: none
                &:nth-child(2)
                    width: 100%
                span
                    font-weight: 400
                    font-size: 12px
                    line-height: 22px
                    text-transform: uppercase
                    color: #3EA4A6
                    display: block
                    max-width: 311px
                p
                    margin-top: 0
                    margin-bottom: 22px
                b
                    display: block
                    max-width: 299px
                    font-weight: 600
                    font-size: 16px
                    line-height: 22px
                    text-transform: uppercase
                    margin-bottom: 12px
                    min-height: 66px
                ul
                    margin: 0
                    padding: 0
                    list-style-type: none
                    li
                        padding-left: 25px
                        margin-bottom: 22px
                        position: relative
                        &::before
                            content: ""
                            background: #C1EAEC
                            display: block
                            width: 6px
                            height: 6px
                            border-radius: 50%
                            position: absolute
                            left: 0
                            top: 8px
            &__gal
                display: flex
                justify-content: space-between
                &-right
                    width: 100%
                    display: block
                .home-about__gal-photo
                    display: none
                &-prev
                    width: calc(100% + 40px)
                    margin-left: -20px
                    height: 360px
                    margin-bottom: 34px
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover
                &-text
                    max-width: 311px
                    font-weight: 400
                    font-size: 12px
                    line-height: 22px
                    text-align: right
                    text-transform: uppercase
                    color: #3EA4A6
                    margin: 0
                    margin-left: auto
