.container
    width: 100%
    padding-left: 2.08333333333vw
    padding-right: 2.08333333333vw
.preloader
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 11
    background-color: #fff
    display: flex
    justify-content: center
    align-items: center
    transition: all 0.5s
    &.active
        opacity: 0
        pointer-events: none
    &__wrap
        width: 69.4444444444vw
        position: relative
        img
            width: 100%
    &__gray
        filter: grayscale(1)
    &__img
        position: absolute
        top: 0
        left: 0
        width: 0
        overflow: hidden
        transition: all 1.5s
        img
            width: 69.4444444444vw
        &.active
            width: 69.4444444444vw
.wrapper
    overflow: hidden
    padding-top: 4.79166666667vw
.footer
    padding: 0 2.08333333333vw
    padding-bottom: 2.63888888889vw
    padding-top: 5.20833333333vw
    background: #C1EAEC
    &__top
        display: flex
        align-items: center
        justify-content: space-between
        margin-bottom: 5.20833333333vw
    &__contact
        width: 20.8333333333vw
        display: flex
        justify-content: flex-end
        align-items: center
        grid-gap: 1.45833333333vw
    &__mail, &__wa
        display: flex
        width: 1.66666666667vw
        height: 1.66666666667vw
        svg
            width: 100%
            height: 100%
        path
            transition: all 0.3s
        &:hover
            path
                fill: #E84A43
    &__phone
        font-weight: 400
        font-size: 1.11111111111vw
        line-height: 1.52777777778vw
        text-decoration: none
        color: #000000
        &:hover
            color: #E84A43
    &__logo
        width: 20.8333333333vw
        img
            width: 100%
    &__menu
        display: flex
        padding: 0
        margin: 0
        list-style-type: none
        grid-gap: 5.48611111111vw
        a
            font-size: 0.972222222222vw
            line-height: 1.52777777778vw
            color: #000000
            text-decoration: none
            &:hover
                color: #E84A43
    &__bottom
        display: flex
        justify-content: space-between
        align-items: flex-end
    &__copy
        font-weight: 300
        font-size: 0.972222222222vw
        line-height: 1.52777777778vw
    &__btn
        width: 14.4444444444vw
        height: 3.33333333333vw
        background: #E84A43
        border: 0.0694444444444vw solid #E84A43
        font-size: 0.972222222222vw
        line-height: 1.52777777778vw
        color: #FFFFFF
        text-decoration: none
        display: flex
        justify-content: center
        align-items: center
        &:hover
            background: #C1EAEC
            color: #000000
        &-wrap
            width: 17.3611111111vw
            display: flex
            justify-content: flex-end
    &__links
        width: 17.3611111111vw
        display: flex
        align-items: center
        grid-gap: 1.73611111111vw
        a
            font-weight: 300
            font-size: 0.972222222222vw
            line-height: 1.52777777778vw
            text-decoration-line: underline
            color: #000000
            &:hover
                color: #E84A43
.left, .right
    width: 4.93055555556vw
    height: 2.22222222222vw
    display: flex
    justify-content: center
    align-items: center
    background: #C1EAEC
    cursor: pointer
    transition: all 0.3s
    path
        transition: all 0.3s
    &:hover
        background: #E84A43
        path
            fill: #fff
.header
    display: flex
    justify-content: space-between
    align-items: center
    position: fixed
    width: 100%
    top: 0
    z-index: 5
    background-color: #fff
    animation-delay: 4000ms
    &__burg
        display: none
    &__right
        width: calc(100% *2 /3)
        display: flex
        align-items: center
        justify-content: space-between
    &__menu
        display: flex
        grid-gap: 4.30555555556vw
        align-items: center
        list-style-type: none
        padding: 0
        margin: 0
        a
            font-weight: 400
            font-size: 0.833333333333vw
            line-height: 1.52777777778vw
            color: #000000
            text-decoration: none
            &:hover
                color: #E84A43
    &__contact
        background: #C1EAEC
        width: 16.3194444444vw
        display: flex
        align-items: center
        justify-content: center
        height: 4.79166666667vw
        grid-gap: 1.25vw
    &__wa, &__mail
        width: 1.25vw
        height: 1.25vw
        svg
            width: 100%
            height: 100%
    &__mail, &__wa
        display: flex
        path
            transition: all 0.3s
        &:hover
            path
                fill: #E84A43
    &__phone
        font-weight: 400
        font-size: 0.972222222222vw
        line-height: 1.52777777778vw
        text-decoration: none
        color: #000000
        &:hover
            color: #E84A43
    &__logo
        margin-left: 2.08333333333vw
        width: 11.0416666667vw
        display: flex
        img
            width: 100%
@media(max-width: 1400px)
    .preloader
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 11
        background-color: #fff
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.5s
        &.active
            opacity: 0
            pointer-events: none
        &__wrap
            width: 89.2857142857vw
            position: relative
            img
                width: 100%
        &__gray
            filter: grayscale(1)
        &__img
            position: absolute
            top: 0
            left: 0
            width: 0
            overflow: hidden
            transition: all 1.5s
            img
                width: 89.2857142857vw
            &.active
                width: 89.2857142857vw
    .container
        width: 100%
        padding-left: 2.67857142857vw
        padding-right: 2.67857142857vw
    .wrapper
        overflow: hidden
        padding-top: 6.16071428571vw
    .footer
        padding: 0 2.67857142857vw
        padding-bottom: 3.39285714286vw
        padding-top: 6.69642857143vw
        background: #C1EAEC
        &__top
            display: flex
            align-items: center
            justify-content: space-between
            margin-bottom: 6.69642857143vw
        &__contact
            width: 26.7857142857vw
            display: flex
            justify-content: flex-end
            align-items: center
            grid-gap: 1.875vw
        &__mail, &__wa
            display: flex
            width: 2.14285714286vw
            height: 2.14285714286vw
            svg
                width: 100%
                height: 100%
            path
                transition: all 0.3s
            &:hover
                path
                    fill: #E84A43
        &__phone
            font-weight: 400
            font-size: 1.42857142857vw
            line-height: 1.96428571429vw
            text-decoration: none
            color: #000000
            &:hover
                color: #E84A43
        &__logo
            width: 26.7857142857vw
            img
                width: 100%
        &__menu
            display: flex
            padding: 0
            margin: 0
            list-style-type: none
            grid-gap: 4.375vw
            a
                font-size: 1.25vw
                line-height: 1.96428571429vw
                color: #000000
                text-decoration: none
                &:hover
                    color: #E84A43
        &__bottom
            display: flex
            justify-content: space-between
            align-items: flex-end
        &__copy
            font-weight: 300
            font-size: 1.25vw
            line-height: 1.96428571429vw
        &__btn
            width: 18.5714285714vw
            height: 4.28571428571vw
            background: #E84A43
            border: 0.0892857142857vw solid #E84A43
            font-size: 1.25vw
            line-height: 1.96428571429vw
            color: #FFFFFF
            text-decoration: none
            display: flex
            justify-content: center
            align-items: center
            &:hover
                background: #C1EAEC
                color: #000000
            &-wrap
                width: 22.3214285714vw
                display: flex
                justify-content: flex-end
        &__links
            width: 22.3214285714vw
            display: flex
            align-items: center
            grid-gap: 2.23214285714vw
            a
                font-weight: 300
                font-size: 1.25vw
                line-height: 1.96428571429vw
                text-decoration-line: underline
                color: #000000
                &:hover
                    color: #E84A43
    .left, .right
        width: 6.33928571429vw
        height: 2.85714285714vw
        display: flex
        justify-content: center
        align-items: center
        background: #C1EAEC
        cursor: pointer
        transition: all 0.3s
        path
            transition: all 0.3s
        &:hover
            background: #E84A43
            path
                fill: #fff
    .header
        display: flex
        justify-content: space-between
        align-items: center
        position: fixed
        width: 100%
        top: 0
        z-index: 5
        background-color: #fff
        animation-delay: 2000ms
        &__burg
            display: none
        &__right
            width: calc(100% *2 /3)
            display: flex
            align-items: center
            justify-content: space-between
        &__menu
            display: flex
            grid-gap: 5.53571428571vw
            align-items: center
            list-style-type: none
            padding: 0
            margin: 0
            a
                font-weight: 400
                font-size: 1.07142857143vw
                line-height: 1.96428571429vw
                color: #000000
                text-decoration: none
                &:hover
                    color: #E84A43
        &__contact
            background: #C1EAEC
            width: 20.9821428571vw
            display: flex
            align-items: center
            justify-content: center
            height: 6.16071428571vw
            grid-gap: 1.60714285714vw
        &__wa, &__mail
            width: 1.60714285714vw
            height: 1.60714285714vw
            svg
                width: 100%
                height: 100%
        &__mail, &__wa
            display: flex
            path
                transition: all 0.3s
            &:hover
                path
                    fill: #E84A43
        &__phone
            font-weight: 400
            font-size: 1.25vw
            line-height: 1.96428571429vw
            text-decoration: none
            color: #000000
            &:hover
                color: #E84A43
        &__logo
            margin-left: 2.67857142857vw
            width: 14.1964285714vw
            display: flex
            img
                width: 100%
@media(max-width: 1100px)
    .preloader
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 11
        background-color: #fff
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.5s
        &.active
            opacity: 0
            pointer-events: none
        &__wrap
            width: 78.125vw
            position: relative
            img
                width: 100%
        &__gray
            filter: grayscale(1)
        &__img
            position: absolute
            top: 0
            left: 0
            width: 0
            overflow: hidden
            transition: all 1.5s
            img
                width: 78.125vw
            &.active
                width: 78.125vw
    .wrapper
        overflow: hidden
        padding-top: 8.984375vw
    .container
        padding-left: 3.90625vw
        padding-right: 3.90625vw
    .left, .right
        width: 9.24479166667vw
        height: 4.16666666667vw
    .footer
        padding: 0 3.90625vw
        padding-bottom: 4.94791666667vw
        padding-top: 9.765625vw
        &__top
            flex-direction: column
            width: 100%
            grid-gap: 5.20833333333vw
            margin-bottom: 9.765625vw
        &__contact
            width: 100%
            justify-content: center
            grid-gap: 2.734375vw
        &__logo
            width: 39.0625vw
        &__menu
            grid-gap: 10.2864583333vw
            a
                font-size: 1.82291666667vw
                line-height: 2.86458333333vw
        &__mail,&__wa
            width: 3.125vw
            height: 3.125vw
        &__phone
            font-size: 2.08333333333vw
            line-height: 2.86458333333vw
        &__links
            width: 32.5520833333vw
            grid-gap: 3.25520833333vw
            a
                font-size: 1.82291666667vw
                line-height: 2.86458333333vw
        &__copy
            font-size: 1.82291666667vw
            line-height: 2.86458333333vw
        &__btn
            width: 27.0833333333vw
            height: 6.25vw
            font-size: 1.82291666667vw
            line-height: 2.86458333333vw
            &-wrap
                width: 32.5520833333vw
    .header
        &__menu
            grid-gap: 3.25520833333vw
            a
                font-size: 1.5625vw
                line-height: 2.86458333333vw
        &__contact
            width: 30.5989583333vw
            height: 8.984375vw
            grid-gap: 2.34375vw
        &__wa, &__mail
            width: 2.34375vw
            height: 2.34375vw
        &__phone
            font-size: 1.82291666667vw
            line-height: 2.86458333333vw
        &__logo
            margin-left: 3.90625vw
            width: 20.703125vw
@media(max-width: 600px)
    .preloader
        position: fixed
        top: 0
        left: 0
        width: 100vw
        height: 100vh
        z-index: 11
        background-color: #fff
        display: flex
        justify-content: center
        align-items: center
        transition: all 0.5s
        &.active
            opacity: 0
            pointer-events: none
        &__wrap
            width: 90vw
            position: relative
            img
                width: 100%
        &__gray
            filter: grayscale(1)
        &__img
            position: absolute
            top: 0
            left: 0
            width: 0
            overflow: hidden
            transition: all 1.5s
            img
                width: 90vw
            &.active
                width: 90vw
    .wrapper
        overflow: hidden
        padding-top: 20.2666666667vw
    .left, .right
        width: 18.9333333333vw
        height: 8.53333333333vw
    .container
        padding-left: 5.33333333333vw
        padding-right: 5.33333333333vw
    .footer
        padding: 0 5.33333333333vw
        padding-top: 18.6666666667vw
        padding-bottom: 12.5333333333vw
        &__top
            grid-gap: 11.2vw
            margin-bottom: 11.4666666667vw
        &__contact
            grid-gap: 5.86666666667vw
        &__logo
            width: 64.8vw
            margin-bottom: 1.86666666667vw
        &__menu
            grid-gap: 0.0vw
            justify-content: space-between
            width: 100%
            a
                font-size: 3.73333333333vw
                line-height: 5.86666666667vw
        &__mail,&__wa
            width: 6.4vw
            height: 6.4vw
        &__phone
            font-size: 4.8vw
            line-height: 5.86666666667vw
        &__links
            width: 100%
            grid-gap: 6.66666666667vw
            justify-content: center
            a
                font-size: 3.73333333333vw
                line-height: 5.86666666667vw
        &__copy
            font-size: 3.73333333333vw
            line-height: 5.86666666667vw
        &__btn
            width: 55.4666666667vw
            height: 12.8vw
            font-size: 3.73333333333vw
            line-height: 5.86666666667vw
            &-wrap
                width: 100%
                justify-content: center
                order: -1
                margin-bottom: 10.4vw
        &__bottom
            flex-direction: column
            align-items: center
            grid-gap: 6.66666666667vw
    .header
        padding: 4.8vw 5.33333333333vw
        &__right
            position: fixed
            top: 0
            right: -100vw
            width: 100vw
            height: 100vh
            flex-direction: column
            align-items: flex-end
            z-index: 5
            transition: all 0.3s
            &.active
                right: 0
        &__menu
            width: 50.1333333333vw
            background: #FFFFFF
            border-left: 0.266666666667vw solid #C1EAEC
            height: calc(100vh - 53.8666666667vw)
            flex-direction: column
            align-items: flex-start
            grid-gap: 12.8vw
            padding: 32.8vw 6.4vw
            a
                font-size: 4.8vw
                line-height: 5.86666666667vw
        &__contact
            width: 50.1333333333vw
            height: 53.8666666667vw
            grid-gap: 10.4vw 5.86666666667vw
            flex-wrap: wrap
            padding: 6.4vw
            justify-content: flex-start
            align-items: center
            align-content: center
        &__wa, &__mail
            width: 7.46666666667vw
            height: 7.46666666667vw
        &__phone
            font-size: 4.8vw
            line-height: 5.86666666667vw
        &__logo
            margin-left: 0.0vw
            width: 40.5333333333vw
        &__burg
            display: block
            width: 10.6666666667vw
            height: 10.6666666667vw
            background: #C1EAEC
            position: relative
            transition: all 0.3s
            z-index: 6
            span
                position: absolute
                left: 2.93333333333vw
                top: 4.8vw
                background: #008D84
                height: 0.533333333333vw
                width: 4.8vw
                border-radius: 0.533333333333vw
                &::before
                    content: ""
                    display: block
                    left: 0
                    top: -1.6vw
                    position: absolute
                    background: #008D84
                    height: 0.533333333333vw
                    width: 4.8vw
                    border-radius: 0.533333333333vw
                    transition: all 0.3s
                &::after
                    content: ""
                    display: block
                    left: 0
                    top: 1.6vw
                    position: absolute
                    background: #008D84
                    height: 0.533333333333vw
                    width: 4.8vw
                    border-radius: 0.533333333333vw
                    transition: all 0.3s
            &.active
                background: #E84A43
                span
                    width: 0
                    &::before
                        top: 0
                        transform: rotate(45deg)
                        background-color: #fff
                    &::after
                        top: 0
                        transform: rotate(-45deg)
                        background-color: #fff
